body {
    margin: 0;
    background-color: #011126;
    color: white;
}

nav {
    display: flex;
    padding: 30px 30px 50px 50px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 44px;
}

.logo-img {
    padding: 12px;
    width: 64px;
    height: 44px;
}

.menus {
    display: flex;
    margin-top: 12px;
    margin-left: 0px;
}

.menu {
    list-style: none;
    padding: 8px 20px;
}

.imgs {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

section {
    padding-top: 50px;
}

.img-1 {
    background-image: linear-gradient(#011126, transparent, #011126),
    url("./images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg");
}

.img-2 {
    background-image: linear-gradient( #011126, transparent, #011126),
    url("./images/ant-rozetsky-SLIFI67jv5k-unsplash.jpg");
}

.text-container{
    width: 80%;
    position: relative;
    top: -400px;
    left: 150px;
}

.semititles {
    font-size: 44px;
    opacity: 85%;
}

.dash{
    width: 300px;
    height: 8px;
    background-color: #C52A2F;
    opacity: 85%;
    margin: 20px 0px;
}

.texts{
    width: 600px;
    font-size: 22px;
}

.slider{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.btns{
    all: unset;
    width: 40px;
    height: 400px;
    font-size: 44px;
    text-align: center;
    background-image: linear-gradient(90deg, transparent, #011126, transparent);
}

.container{
    display: flex;
    flex-direction: row;
    width: 800px;
    overflow: hidden;
}

.pics{
    width: 600px;
    height: 400px;
}

.int-container{
    justify-content: center;
}

.dash2{
    width: 100px;
    height: 8px;
    background-color: #C52A2F;
    opacity: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.int-title{
    text-align: center;
    font-size: 44px;
    opacity: 85%;
    margin-bottom: 50px;
}

.intros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    margin: 10px;
    border-radius: 30px;
    width: 240px;
    height: 240px;
    background-color: #414B5B;
}

.ct-container{
    margin-top: 100px;
}

.map-text{
    margin-top: 100px;
}

.map {
    width: 70%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.map-text {
    margin: 0;
    text-align: center;
    font-size: 44px;
    padding-bottom: 50px;
}

.contact{
    width: 70%;
    height: 500px;
    background: #414B5B;
    margin-left: auto;
    margin-right: auto;
}

.customoverlay {position:relative;bottom:65px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: black;background: black url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
