body
{
    margin: unset;
}

.navigation
{
    display: flex;
    background: white;
    width: 100vw;
}

#logo
{
    margin-left: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

#logoImg
{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.menus
{
    align-self: center;
    margin-left: auto;
    margin-right: 50px;
}

.menu
{
    all: unset;
    margin: 20px;
    padding: 10px;
    height: 50px;
}

.contents
{
    width: 100vw;
}

.content
{
    border: solid black 1px;
    padding: 200px;
}

.text
{
    display: block;
    backdrop-color: white;
}

#machinesImg
{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
}

#work
{
    background: white;
}