/* Global */

:root {
    /* Color */
    --color-red: #C52A2F;
    --color-dark-red: #621517;
    --color-black: #222222;
    --color-gray: #414B5B;
    --color-dark-blue: #011126;
    --color-white: #D8DBDE;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 300;

    /* Border radius size */

    --size-border-radius: 4px;

    /* Animation  */

    --animation-duration: 300ms;
}


/* Universial Tag */

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    cursor: default;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

section {
    padding-top: 150px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.section__dash{
    width: 100px;
    height: 4px;
    background-color: var(--color-red);
    margin: 0 auto 0 auto;
}

.section__title{
    margin: 0 auto 30px auto;
    text-align: center;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 18px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

p{
    margin: 0;
}


/* Navigation */

#nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient( var(--color-dark-blue), transparent);
    align-items: center;
    padding: 16px 16px 16px 32px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 10;
}

.nav__menu {
    display: flex;
}

.nav__logo {
    margin: 10px 0px;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.nav__logo>img{
    width: 32px;
    height: 32px;
}

.nav__menu__item {
    padding: 8px 20px;
    margin: 0 4px;
    text-align: center;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    border: 1px solid transparent;
    font-size: var(--font-regular);
}

.nav__menu__item:hover {
    border: 1px solid var(--color-white);
}

.nav__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}


/* Intro */

.intro__img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.intro__img--pro {
    background-image: linear-gradient(#011126, transparent 20%, transparent 80% , #011126),
    url("./images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg");
}

.intro__img--per {
    background-image: linear-gradient( #011126, transparent 20%, transparent 80% , #011126),
    url("./images/ant-rozetsky-SLIFI67jv5k-unsplash.jpg");
}

.intro__texts{
    width: 80%;
    position: relative;
    top: -400px;
    left: 15%;
}

.intro__text__dash{
    width: 250px;
    height: 3px;
    background-color: var(--color-red);
}


/* About */

.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.about__item{
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-gray);
    text-align: center;
}

.about__item>img{
    width: 120px;
    height: 120px;
}

.about__item__title{
    position: relative;
    bottom: 10px;
}

.about_item__sort{
    position: relative;
    bottom: 10px;
    font-size: var(--font-micro);
    color: var(--color-dark-blue);
}

.about__item__text{
    position: relative;
    bottom: 10px;
    margin-top: 5px;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
}


/* Gallery */

.gallery{
    text-align: center;
}

.slider {
    width: 70%;
    height: 500px;
    position: relative;
    margin: auto;
}

.slider__item{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: scale(0.9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.slider__item--1{
    background-image: url("공장/철판들.jpg");
}
.slider__item--2{
    background-image: url("공장/제품들.jpg");
}
.slider__item--3{
    background-image: url("공장/금형.jpg");
}
.slider__item--4{
    background-image: url("공장/트럭.jpg");
}
.slider__item--5{
    background-image: url("공장/machines.jpg");
}

.slider__controls{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--color-white);
    font-size: 4px;
    margin-top: 10px;
}

.slider__control{
    margin: 0px 5px;
    cursor: pointer;
}

.showing-control{
    opacity: 0.5;
}

.showing{
    opacity: 1;
    z-index: 1;
    transform: none;
}


/* Contact */

.map {
    width: 70%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact__info{
    width: 70%;
    background: #414B5B;
    margin-left: auto;
    margin-right: auto;
}

.contact__info__title{
    width: 90%;
    padding: 40px 0px 50px 50px;
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.contact__info__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__infos{
    width: 42%;
    padding-right: 10px;
}

.contact__info--contact{
    margin-top: 50px;
}

.contact__info--contact>*{
    margin: 0 0 5px 0;
}

.info__title{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 0 0 10px 0;
}

.contact__email{
    width: 42%;
    display: flex;
    flex-direction: column;
}

.contact__email>*{
    font-size: var(--font-micro);
}

input, textarea{
    all: unset;
    display: block;
    background-color: var(--color-dark-blue);
    margin-bottom: 10px;
    width: 95%;
}

input::placeholder, textarea::placeholder{
    color: var(--color-white);
    font-size: var(--font-micro);
}

.contact__email__name{
    height: 30px;
    padding: 0px 10px;
}

.contact__email__message{
    height: 100px;
    padding: 5px 10px;
}

.contact__email__send{
    place-self: flex-end;
}

footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

footer>*{
    color: var(--color-dark-blue);
    font-size: var(--font-micro);
    padding: 5px 0px;
}

/* Arrow Btn */

.arrow-up {
    position: fixed;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 50%;
    line-height: 70px;
    font-size: 50px;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    opacity: 0;
    pointer-events: none;
    /* 디스플레이가 완전히 없어졌다가 생기는 것이기 때문에 애니메이션이 안됨 */
    /* 사용하려면 디스플레이를 지우고 opacity와 pointer-events를 활용해야합니다. */
    transition: all 300ms ease-in;
    z-index: 10;
}

.customoverlay {position:relative;bottom:65px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #C52A2F;background: #C52A2F url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}


/* Interactive */

.nav__menu.open {
    display: block;
}

.nav--dark {
    background-color: var(--color-gray);
}

.arrow-up:hover {
    background-color: var(--color-gray);
}

.arrow-up.visible {
    pointer-events: auto;
    opacity: 1;
}

/* Responsive */

@media screen and (max-width: 768px) {

    .nav__toggle-btn{
        display: block;
    }

    #nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__container, .slider, .map, .contact__info {
        width: 85%;
    }
}